<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/product">Produk</a></li>
              <li class="breadcrumb-item active">Tambah</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Form tambah produk</h3>
              </div>

              <form action="/product/create" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Masukkan nama produk</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Masukan nama produk"/>
                  </div>

                  <div class="form-group">
                    <label for="price">Masukkan harga produk</label>
                    <input type="text" name="price" class="form-control" id="price" placeholder="Masukan harga produk"/>
                  </div>

                  <div class="form-group">
                    <label for="category">Kategori</label>
                    <select name="category" class="form-control select2" style="width: 100%;">
                      <option selected="selected">Pilih kategori</option>
                      <% category.forEach(category => { %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                      <% }) %>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="features">Masukan fitur produk</label>
                    <input type="text" name="features" class="form-control" id="features" placeholder="Masukan fitur produk"/>
                  </div>

                  <div class="form-group">
                    <label for="description">Masukkan deskripsi produk</label>
                    <input type="text" name="description" class="form-control" id="description" placeholder="Masukan harga produk"/>
                  </div>

                  <div class="form-group">
                    <label for="nameShop">Nama toko produk - 1</label>
                    <input type="text" name="nameShop" class="form-control" id="nameShop" placeholder="Nama toko seperti shopee, tokopadia, dll"/>
                  </div>

                  <div class="form-group">
                    <label for="linkShop">Link produk - 1</label>
                    <input type="text" name="linkShop" class="form-control" id="linkShop" placeholder="Link produk di shopee, tokopadia, dll"/>
                  </div>

                  <div class="form-group">
                    <label for="nameShop2">Nama toko produk - 2</label>
                    <input type="text" name="nameShop2" class="form-control" id="nameShop2" placeholder="Nama toko seperti shopee, tokopadia, dll"/>
                  </div>

                  <div class="form-group">
                    <label for="linkShop2">Link produk - 2</label>
                    <input type="text" name="linkShop2" class="form-control" id="linkShop2" placeholder="Link produk di shopee, tokopadia, dll"/>
                  </div>

                  <div class="form-group">
                    <label for="thumbnail">Gambar</label>
                    <input type="file" name="thumbnail" id="thumbnail" class="form-control" placeholder="Masukkan gambar produk" />
                    <br>
                    <img src="" id="perview">
                  </div>
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>

<script>
  function readURL(input) {
    if(input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function(e) {
        $("#perview").attr("src", e.target.result)
        $("#perview").attr("width", "20%")
        $("#perview").attr("height", "20%")
      }
      reader.readAsDataURL(input.files[0])
    }
  }
  $("#thumbnail").change(function(){
    readURL(this);
  })
</script>